{% extends 'base_for_forms.html' %}
{% block content %}


<div class="registration-login__form form container">
    <div class="form__header">
        <h1 class="form__title h3">
            Восстановление пароля
        </h1>
    </div>
    <p>Инструкции по восстановлению пароля были отправлены на указанную вами электорнную почту</p>
    <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели Email адрес, привязанный к вашему аккаунту, и проверьте папку со спамом</p>

    <div class="form__box">
        <a class="form__box-button button" href="{% url 'users:login' %}">На страницу входа</a>
    </div>
</div>

{% endblock %}