{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAI market</title>
    <link type="text/css" href="{% static 'main/css/main.css'%}" rel="stylesheet">
    <script src="{% static 'main/js/main.js' %}" type="module" defer></script>
    {% block js %} {% endblock %}
</head>
<body>
    <header class="header" data-js-header>
      <div class="header__inner container">
        <a class="header__logo" href="/">
            <img class="header__logo-image" src="{% static 'main/img/mai_logo_color.png' %}" alt="MAI logo" width="100" height="100">
        </a>

        <form class="header__form">
            <input class="header__form-search"  type="text" placeholder="Поиск товаров...">
            <button class="header__form-search-button" type="submit">Найти</button>
        </form>

        <nav class="header__menu " data-js-header-overlay>
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a class="header__menu-link header__menu-link--heart" href="#">Избранное</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link header__menu-link--folder" href="{% url 'goods:goods_list' %}">Категории</a>
                </li>
                <li class="header__menu-item ">
                    <a class="header__menu-link header__menu-item--info " href="{% url 'goods:add_ad' %}">Разместить объявление</a>
                </li>

                <li class="header__menu-item ">
                    <a class="header__menu-link header__menu-item--mail" href="{% url 'support' %">Поддержка</a>
                </li>
                <!-- <li class="header__menu-item">
                    <a class="header__menu-link header__menu-link--profile" href="/form-login.html">Войти</a>
                </li> -->

              <li class="header__menu-item">
                  {% if user.is_authenticated %}
                  <a class="header__menu-link" href="{% url 'users:my_profile' %}">
                    <span class="profile">
                    <span class="profile__logo">
                        {% if user.photo %}
                      <img class="profile__logo-image" src="#" alt="" width="35" height="35">
                        {% endif %}
                    </span>
                      <span class="profile__name">{{ request.user.username }}</span>
                    </span>
                  </a>
                {% else %}
                <a class="header__menu-link" href="{% url 'users:login' %}">
                    <span class="profile">
                      <span class="profile__name">Вход</span>
                    </span>
                </a>
                {% endif %}
                </li>
            </ul>
        </nav>

        <button type="button" class="header__burger-button  burger-button visible-tablet " data-js-header-burger-button  aria-label="Open menu" title="Open menu">
          <span class="burger-button__line"></span>
          <span class="burger-button__line"></span>
          <span class="burger-button__line"></span>
        </button>
      </div>
    </header>

{% block content %} {% endblock %}

</body>
</html>