{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main">
      <section class="section">
        <header class="section__header container">
            <h1 class="section__header-title h3">Категорииf</h1>
        </header>
        <div class="section__body container ">
          <div class="categories">
            <ul class="categories__list">
              <li class="categories__item">
                <a class="categories__link" href="">
                  <img class="categories__image" src="/img/iphone_16_128_gb_rozovyy.jpg" alt="" width="200">
                  <h2 class="categories__title h4">Электроника</h2>
                </a>
              </li>
              <li class="categories__item">
                <a class="categories__link" href="">
                  <img class="categories__image" src="/img/iphone_16_128_gb_rozovyy.jpg" alt="" width="200">
                  <h2 class="categories__title h4">Электроника</h2>
                </a>
              </li>
              <li class="categories__item">
                <a class="categories__link" href="">
                  <img class="categories__image" src="/img/iphone_16_128_gb_rozovyy.jpg" alt="" width="200">
                  <h2 class="categories__title h4">Электроника</h2>
                </a>
              </li>
              <li class="categories__item">
                <a class="categories__link" href="">
                  <img class="categories__image" src="/img/iphone_16_128_gb_rozovyy.jpg" alt="" width="200">
                  <h2 class="categories__title h4">Электроника</h2>
                </a>
              </li>
              <li class="categories__item">
                <a class="categories__link" href="">
                  <img class="categories__image" src="/img/iphone_16_128_gb_rozovyy.jpg" alt="" width="200">
                  <h2 class="categories__title h4">Электроника</h2>
                </a>
              </li>
              <li class="categories__item">
                <a class="categories__link" href="">
                  <img class="categories__image" src="/img/iphone_16_128_gb_rozovyy.jpg" alt="" width="200">
                  <h2 class="categories__title h4">Электроника</h2>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section container">
        <header class="section__header ">
            <h1 class="section__header-title h3">Популярные товары</h1>
        </header>
        <div class="section__body  ">
          <div class="goods">
          </div>
        </div>
      </section>
    </main>
{% endblock %}